@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Archivo Black', sans-serif;
}
h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

/********           **********/

.header-section{
    background: white;
    height: 70px;
}
.header-section .item-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: center
}

/* start of banner section */
.banner-section{
    width: 100%;
}
.bg-banner{
    /* height: 130vh; */
    background-image: url(../images/banner.jpg);
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
    vertical-align: middle;
}
.bg-banner .banner-item-container {
    width: 90%;
    margin: 249px 0 100px 40px;
    color: white;
}
.bg-banner h4{
    font-family: -webkit-pictograph;
    letter-spacing: 2.5px;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 4rem;
}
.bg-banner h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 95px;
    text-transform: uppercase;
}
.border-style{
    border-bottom: solid white 10px;
    /* margin-top: 19em; */
    width: 55%;
}
.slide-icon-container{
    width: 45%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.slide-icon-container img{
    margin-top: 40px;
    width: auto;
    height: 100px;
}
.slide-icon-container p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
}


/* Our services section start here */
.our-services-first{
    /* height: 95vh; */
    background-color: #f2f2f2;
    color: #111111;
    padding-bottom: 100px;
}
.our-services-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.our-services-first h5 {
    color: #999;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 200px;
}
.our-services-first h2, .our-services-2nd h2{
    text-transform: capitalize;
    font-size: 50px;
    margin-top: 20px;
    color: #111111;
}
.our-services-first p{
    font-size: 20px;
    color: rgb(121, 120, 120);
    margin-top: 30px;
    font-weight: 300 !important;
}
.btn-container{
    margin-top: 35px;
    margin-bottom: 0
}
.booking-btn{
    background-color:#e71a23 ;
    padding: 15px 25px;
    text-transform: uppercase;
    text-decoration: unset;
    color: white;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 5px;
    border: solid #e71a23 1px;
}

/* start of show room section */
.show-room-first .container{
    width: 80%;
    margin: 50px auto 0px;
    justify-content: space-between;
}
 .show-room-first .basin-man-container{
     width: 48%;
 }
 .show-room-first img{
    width: 100%;
 }
 .show-room-first .text-center{
    padding: 60px;
    line-height: 30px;
 }
 .show-room-first h2{
    letter-spacing: 1px;
    font-size: 35px;
    color: #111111;
    margin-top: 30px;
    margin-bottom: 20px;
 }
 .show-room-first h3{
    letter-spacing: 1px;
    font-size: 30px;
    color: #e71a23;
    margin-bottom: 60px;
 }

/* star of work section */
 .worker-section{
    background-color: #f2f2f2;
    /* height: 110vh; */
}
.worker-width {
    width: 45%;
    display: flex;
    padding-left: 60px;
}
.worker-section .worker-width .worker-img-container{
    width: 100%;
    background-image: url(../images/quality-photo.png);
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
    /* height: 110vh; */
    background-size: 495px;
}
.worker-section .worker-text {
    width: 55%;
    justify-content: center;
    padding: 167px 100px 167px 30px;
}
.worker-section h2{
    font-size: 60px;
    color: #104e92;
    margin-bottom: 40px;
    text-transform: uppercase;
}
hr{
    height: 10px;
    font-weight: 800;
    border: none;
    background-color: #e71a23;
    margin-bottom: 40px;
}
.worker-section p{
    font-size: 20px;
    color: #111111;
    /* margin-bottom:  ; */
    font-weight: 300;
}

/* start of our service 2nd */
.our-services-2nd-container{
    width: 80%;
    margin: 50px auto 100px;
    justify-content: space-between;
}
.our-services-2nd .services{
    align-content: space-between;
}

.our-services-2nd h2{
    margin-bottom: 60px;
}
.our-services-2nd .icons-container{
    width: 28%;
    margin: 0 auto;
}
.circle{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: solid #e71a23;
    background-color: #e71a23; 
    padding: 10px;
    display: flex;
    align-items: center;
}
.circle img{
    width: 100%;
}
.our-services-2nd h4{
    margin-top: 30px;
    margin-bottom: 40px;
    text-transform: capitalize;
    font-size: 25px;
}
.our-services-2nd p{
    font-style: italic;
    line-height: 30px;
    font-size: 20px;
}


/* start of about us section */

.about-section{
    background-color: #104e92;
}
.about-section .about-container {
    padding: 100px 100px 60px 165px;
    justify-content: center;
}
.u{
    width: 50%;
    align-items: flex-start;
    justify-content: center;
} 
.about-section .about-text{
    color: rgb(255, 255, 255);
}
.about-section h6 {
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: lighter;
}
.about-section h2{
    font-size: 90px; 
    word-wrap: break-word;
    font-family: -webkit-pictograph;
    font-weight: lighter;
    line-height: 100px;
}
#bold{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.about-section .img-container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-section figure{
    width: 47%;
    margin-bottom: 40px; 
}
.about-section img{
    width: 100%;
    height: 100%
}

/* Start of todo section  */
.to-do-section .to-do-container{
    width: 55%;
    margin: 70px auto 70px;
    align-content: center;
    text-align: center;  
}
.to-do-section h2{
    margin-bottom: 40px;
    font-size: 30px;
    word-wrap: break-word;
}
.to-do-section P{
    line-height: 50px;
    word-wrap: break-word;
    font-size: 30px;
    font-weight: lighter;
    color: rgb(121, 120, 120);
}
.white-btn{
    background-color: white;
    color: #111111;
    border: solid #111111 1px;
    padding-left: 40px;
    padding-right: 40px;
}
.btn-gap{
    gap: 10px;
    justify-content: center;
}

.footer-section{
    background-color: #333333;
    color: white;
}
.footer-main-container{
    width: 30%;
    margin: 0px auto;
    font-size: small;
    font-weight: lighter;
}
.footer-section{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.first-child{
    margin-bottom: 70px;
    line-height: 25px;
}
.footer-section a{
    color: #e71a23;
}

/* laptop view */

@media (max-width: 1024px) {
    .bg-banner h4{
        letter-spacing: 2.9px;
        font-size: 3.5rem;
    }
    .bg-banner h1{        
        font-size: 90px;
    }
    .border-style{
        width: 62%;
    }
    .slide-icon-container {
        width: 51%;
    }
    .show-room-first .container {
        width: 93%;
    }
    .worker-section .worker-width .worker-img-container {
        background-size: 427px;
    }

    .worker-section .worker-text {
        width: 55%;
        justify-content: center;
        padding: 144px 55px 103px 30px;
    }
    .our-services-2nd-container {
        width: 93%;
    }
    .about-section .about-container {
        padding: 65px 49px 60px 75px;
        justify-content: center;
    }
    .about-section h2 {
        font-size: 75px;
        line-height: 74px;
    }
    .to-do-section .to-do-container {
        width: 66%;
    }
    .footer-main-container{
        width: 38%;
    }
}
